.interesting__news {
    font-family: 'PT Sans';
    font-size: 15px;
    margin: 0vh 0.5vw 1.5vh 0;
    display: inline-flex;
    flex-direction: row;
}

.interesting_preview {
    margin-right: 0.5vw;
}