
.item{
    margin: 20px;
    width: 275px; 
    height: 120px;
}
.complete{
    display:none;
}

.more{
    background:lightblue;
    color:navy;
    font-size:13px;
    padding:3px;
    cursor:pointer;
}