
.accordion{
display: flex;

}
.accordion_end{
display: flex;
justify-content: right;
padding-right: 15px;
}
.accordion_content{
    max-height: 110px;
    overflow: hidden;
    padding: 15px;
    
}
.accordion_input{
    display: none;
}
.accordion_opener{
    color: orange;
    cursor:pointer;
}
.accordion_input:checked ~ .accordion_content{
    max-height: 100vh;
}