.main__news1 {
    display: flex;
    flex-direction: column;
    color: #333333;
}

.camera:after {
    content: url(../img/Icons/photo.png);
    display: inline;
}

.main__news-img {
    margin-right: 10px;
}
.news2{
    font-size: 14px;
    color: #333333;
}