.video:after {
    content: url(../img/Icons/bw-video.png);
    display: inline;
    float: right;
   margin-left: 5px;
}

li {
    font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  max-width: fit-content;
   
}
