.photo__news {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}

.insta:after {
    content: url(../../img/icons/insta.png);
    position: absolute;
    left: 28px;
    bottom: 58px;
}

.photo__news-img {
    
}
.photo__text{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
}