<div class="tabs-content">
    <div class="tabs-card">
       <img src="@@TabsImage" alt="image" class="tabs-image">
        <div class="tabs-card-content">
           <h3 class="tabs-title">@@TabsText</h3>
           <p class="tabs-description">@@TabsDescription</p>
           <div class="tabs-info">
               <div class="tabs-good">
                   <span class="tabs-price">@@price</span>
                   <span class="tabs-weight">@@weight</span>
               </div>
               <button class="button button-outline">В корзину</button>
           </div>
        </div>
     </div>
</div>
