body * {
    list-style-type:none;
}
.header{
    width: 1000px;
    height: 1000px;
    background-color:red;
    margin: 0 auto;
}
.header-menu{
    width: 800px;
    height: 200px;
   
}
.header-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-item{
    margin-left: 50px;
}
.catalog{
    position: relative;
}
.catalog-list{
    background-color: black;
    color: blanchedalmond;
    position: absolute;
    left: 75%;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
}
.car,
.bus,
.moto{
    position: relative;
}
.car-item,
.bus-item,
.moto-item{
    background-color: blue;
    color: chartreuse;
    
}
.car-list,
.bus-list,
.moto-list{
    display: none;
    position: absolute;
   
}
.catalog:hover .catalog-list{
    display: block;

}
.car:hover .car-list{
    display: block;
}
.bus:hover .bus-list{
    display: block;
}
.moto:hover .moto-list{
    display: block;
}