/*reset start*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset end*/ 

@import'./partials/first/text-header.scss';
@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PTSans-Regular.ttf');
}

html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    font-family: 'PT Sans', sans-serif;

}
.main{
    max-width: 940px;
    margin: 0 auto;
}

.wrapper{
    width: 640px;
}
.header__item{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #d7d8d9;
}
.button__list{
    height: 30px;
    background-color: #d7d8d9;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}
.button__list:hover{
    background-color: #333333;
    color: white;
    cursor: pointer;
}
.wrapper__header-content{
    display: flex;
    padding-top: 20px;
}
.wrapper__header-text{
    padding-left: 20px;
    background-color: #f7f9fa;
}
.text__header{
    color: #c80000;
    font-size: 30px;
    font-family: 'PT Sans';
}
.text__content{
    color: #333333;
    font-size: 14px;
    font-family: 'PT Sans';
    text-align: left;
    margin-right: 40px;
    height: 85px;
    padding: 15px 0;
}
.swiper-slide{
    border-bottom: 4px solid red;
}
.main__news{
    display: flex;
}

.news__list{
    list-style-type: disc;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
}
.main__news-footer{
    display: flex;
    text-align: left;
}
.img__text{
    font-family: 'PTSans';
    font-weight: bold;
    color: #333333;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
}